@keyframes marquee {
	0% {
		transform: translate(0%, 0);
	}
	100% {
		// transform: translate(-108vw, 0); // 
		// transform: translate(-350.5vw, 0); // alt
		transform: translate(-170.5vw, 0); // alt
	}
}

.footer {
	position: relative;
	color: map-get($colors, brand-offwhite);
	&__ticker {
		position: relative;
		z-index: 10;
		// margin: 2vw 0;
		padding: 2vw 0;
		width: calc(100% + 8rem); // body pad
		left: -4rem;
		right: -4rem;
		overflow: hidden;
		pointer-events: none;
		border-top: .1rem solid;
		border-bottom: .1rem solid;

		h2 {
			text-transform: uppercase;
			// font-size: 9.7rem; // might remove this once typography is finallzed
			font-size: 8vw; // alt
			white-space: nowrap;
			// animation: marquee 15s linear infinite; // 
			animation: marquee 15s linear infinite; // alt
		}
	}
	&__bottom {
		display: flex;
		font-size: 1.2rem;
		padding: 6rem 2rem;
	}
	&__info,
	&__social-links {
		line-height: .92;
		text-transform: uppercase;
	}
	&__info {
		margin-right: 4vw;
	}
	&__social-links {
		margin-right: 30vw;
	}
	&__copyright {
		
	}
}