.header {
	position: relative;
	padding-bottom: 3rem;
	border-bottom: .1rem solid;
	h1 {
		font-size: 12vw; // 15rem
		line-height: 1; // 14rem
		font-weight: 700; // 
		text-align: center;
		letter-spacing: -.65rem;
		text-transform: uppercase;
	}
	.toggle-menu,
	.toggle-contact,
	span {
		font-size: 2rem;
		text-transform: uppercase;
	}
	.toggle-menu,
	.toggle-contact {
		position: absolute;
		top: 0;
	}
	.toggle-menu {
		left: 0;
	}
	.toggle-contact {
		right: 0;
	}
	span {
		display: block;
		margin-top: 2rem;
		text-align: center;
	}
}

.icon-close {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: .2rem solid #555; // its 20% opacity of offwhite..fuck
	svg {
		position: relative;
		top: .2rem; // svg messed up?
		left: .1rem;
		padding: 0.9rem;
		width: calc(100% - .2rem);
		height: calc(100% - .2rem);
	}
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%; // 100vh
	top: 0;
	left: 0;
	overflow: hidden;
	// opacity: 0;
	// visibility: hidden;
	transform: opacity .15s cubic-bezier(.52,0,.43,.99),
				visibility .15s cubic-bezier(.52,0,.43,.99);
	&.is-active {
		opacity: 1;
		visibility: visible;
	}
	&__close {
		position: absolute;
		top: 4rem;
		left: 4rem;
		font-size: 2rem;
		cursor: pointer;
		display: inline-block;
		text-transform: uppercase;
		span {
			margin-left: 0.5rem;
			vertical-align: middle;
		}
	}
	// contact
	&__info {
		font-size: 6.2rem;
		line-height: 0.82;
		text-align: center;
		text-transform: uppercase;
		ul {
			margin-bottom: 4rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// menu
	&__content {
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		align-content: center;
	}
	
	&__inner {
		display: flex;
		width: 100%;
		padding: 0 4rem;
		span {
			flex-grow: 1;
		}
		nav {
			flex-grow: 1;
		}
		address {
			flex-grow: 1;
		}
		.social-links {
			position: absolute;
			bottom: 4rem;
		}
	}
}

.menu-overlay {
	text-transform: uppercase;
	color: map-get($colors, brand-charcoal);
	background: map-get($colors, brand-offwhite);
	.icon-close {
		border: .2rem solid;
	}
	h1 {
		font-size: 18.45vw;
		margin-left: -6vw;
		font-weight: 700;
		white-space: nowrap;
		overflow: hidden;
		letter-spacing: -1vw;
		text-transform: uppercase;
	}
	a {
		color: map-get($colors, brand-charcoal);
	}
}

.contact-overlay {
	display: flex;
	
	display: none;

	align-items: center;
	justify-content: center;
	background: map-get($colors, brand-charcoal);
	.icon-close {
		fill: map-get($colors, brand-offwhite);
	}
}