////////////////////////////////////////////////////////
// Breakpoint Mapping
////////////////////////////////////////////////////////

// Example
$breakpoints: (
	'tiny'     : 480px,
	'small'    : 640px,
	'medium'   : 1024px,
	'large'    : 1280px,
	'xlarge'   : 1440px,
	'xxlarge'  : 1720px
);

////////////////////////////////////////////////////////
// Spacer Settings
////////////////////////////////////////////////////////

$spacing-scale : 1rem;
$spacing-count : 14;

////////////////////////////////////////////////////////
// z-index Mapping
////////////////////////////////////////////////////////

// Example
// e.g. fullscreen = 7, background = 1
$z-indexes: (
	'fullscreen',
	'modals',
	'alerts',
	'nav',
	'stickies',
	'content',
	'background'
);

////////////////////////////////////////////////////////
// Grid
// - core/_grid.scss
// Container and Column classes for simplegrid
////////////////////////////////////////////////////////

$container-class:				'container'; // defaults to [data-layout = "container"]
$row-class:						'row'; // defaults to [data-layout = "grid"]
$column-class:					'col'; // defaults to [data-columns = "$"]
$grid-columns:					12; // max number of columns
$gutter:						2rem;

////////////////////////////////////////////////////////
// font stacks - core/_fonts.scss
////////////////////////////////////////////////////////

$body-font:						'Open Sans', helvetica, sans-serif;
$header-font:					'Open Sans', $body-font;

////////////////////////////////////////////////////////
// Base Typography Values
////////////////////////////////////////////////////////

$base-font-size:				10px;
$base-line-height:				1.5;
$body-font-size:                1.3rem;

////////////////////////////////////////////////////////
// Font Weights
////////////////////////////////////////////////////////

////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////


// $vars set in _settings.scss
$colors: (
	primary: #f5f5f5,
	accent: #ff0000,
	dark-grey: #202020,
	selection-bg-color: purple,
	selection-text-color: white,
	success-color: #31aa51,
	error-color: #d42a2a
);



